# Settings Environments

# Development / Production
# APP_ENV=development

# HOST / PORT
# API_HOST=0.0.0.0
# API_PORT=8000

# DATABASE
# DB_HOST=0.0.0.0
# DB_PORT=5432
# DB_DATABASE=node_sequelize_db
# DB_USERNAME=node_sequelize
# DB_PASSWORD=node_sequelize
# DB_MOTOR=postgres #  mysql, sqlite, mariadb, postgres, mssql

# JSON WEB TOKEN
# SECRET_KEY_JWT=M1$3CR3TK3YR3C14
# EXPIRES_IN_JWT = '1d'

# SEEDERS
# EMAIL_SEED=admin@gmail.com
# PASSWORD_SEED=admin